body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #293346;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiDrawer-paperAnchorLeft {
  width: 7%;
}

.sidebar-root {
  position: fixed;
}

.sidebar-root .MuiPaper-root {
  background-color: #273047;
}

.sidebar-list {
  padding-top: 100px !important;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.header-toolbar {
  background-color: #1d222e;
}

.page-layout {
  padding-top: 70px;
  padding-left: 150px;
}

.card-page-layout {
  display: flex;
  flex-direction: column;
  gap: 30px
}

.card-detail {
  box-shadow: inset 5px 0px 15px #878b95 !important;
  border: none;
  border-radius: 3px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #191c24 !important;
  background-clip: border-box;
  padding: 0.5rem !important;
  margin-bottom: 1.5rem !important;
  flex: 1 1 auto;
  padding: 10px;
}


.card-action {
  justify-content: space-evenly;
}

.card-image {
  border-radius: 100px;
  height: 50px !important;
  width: 50px;
}

.content-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: center;
}

.search-layout {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.user-card-action-button {
  color: black !important;
  width: 100%
}

.component-root-layout {
  padding: 30px;
}

.component-page-layout {
  display: flex;
  /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px; */
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 5px 0px 15px #878b95;
  background-color: #22293A
}

.component-page-layout-header {
  display: flex;
  padding: 20px 40px 5px 40px;
  color: white;
  height: 40px;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #363D50;
  margin-bottom: 10px;
  justify-content: flex-start;
  gap: 20px
}

.navigation-1 {
  justify-content: space-evenly;
}

;

.divider {
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.header-option {
  padding-top: 13px;
  padding-bottom: 15px;
}

.active {
  color: #7cd985;
  font-weight: bold;
  border-bottom: 2px solid #7cd985;
}

.left-div {
  width: 33.333%;
  flex: 0 0 auto;
  position: relative;
}

.stats-select {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

.stats-select-div {
  background-color: rgb(54, 61, 80);
  color: rgb(255, 255, 255);
  height: 50px;
  border-radius: 10px;
}

.select-input {
  margin-top: -14px;
  color: #fff !important;
}

.select-input::before {
  border: none !important;
}

.css-1g12qau-MuiSvgIcon-root-MuiNativeSelect-icon {
  color: #fff !important;
}

.select-input-option,
#uncontrolled-native {
  font-size: 14px;
  font-weight: 600;
}

.stats-observation {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background: linear-gradient(180deg, #202737 0%, #12172A 100%);
  border-radius: 10px;
}

.stats-observation-card {
  background: linear-gradient(180deg, #202737 0%, #12172A 100%);
}

.stats-observation-details {
  display: flex;
  gap: 10px;
}

.stats-observation-details .icon {
  background-color: #925bc2;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  padding: 10px;
  color: #fff;
}

.stats-observation-details .details-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.stats-observation-value {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  font-size: 13px;
  color: white;
  font-weight: 600;
}

.stats-observation-value .info {
  background: #363D50;
  padding: 10px;
  border-radius: 43px;
}

.left-div-chart {
  margin-top: 20px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.active-card {
  border: 1px solid #7cd985;
  background-color: #363D50 !important;
}

.left-div-chart-card {
  padding: 15px;
  background: linear-gradient(180deg, #202737 0%, #12172A 100%);
  box-shadow: none;
  padding-bottom: 35px;
}

.bar-chart {
  margin: auto !important;
}

.recharts-default-legend {
  display: flex;
  justify-content: space-evenly;
}

.chart-text {
  display: flex;
  justify-content: space-between;
}

.right-arrow-icon {
  color: #fff;
}

.right-div {
  width: 66.666%;
  border-left: 1px solid #353c4f;
  flex: 0 0 auto;
}

.right-div .stats-observation-card {
  background: #363D50;
  height: 65px;
}

.right-div .stats-observation-details {
  display: flex;
  justify-content: space-between;
}

.social-media-username {
  font-size: 12px;
  justify-content: left;
  display: flex;
  color: #69707D;
}

.stats-boost-profile {
  display: flex;
  gap: 20px;
}

.component-page-layout-header img {
  height: 35px;
  width: 35px;
  border-radius: 100px;
}

.stats-observation-card-content {
  padding: 10px !important;
}

.top-buttons {
  display: flex;
  justify-content: center;
  height: 40px;
}

.boost-profile-button {
  background: linear-gradient(180deg, #6EE6B8 0%, #429272 100%);
  color: #20293A !important;
  font-weight: 600 !important;
  font-size: 12px !important
}

.info-charts {
  padding: 20px;
}

.top-countries-cities-div,
.top-gender-age-div {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.top-countries,
.top-cities {
  background: transparent !important;
  box-shadow: none !important;
}

.info-section-card {
  background: none;
  box-shadow: none;
}

.info-charts img {
  height: 180px;
  width: 350px;
}

.button-layout {
  display: flex;
  justify-content: space-between;
}

.button-layout-1 {
  display: block;
}

.button-layout-heading {
  margin-top: 7px;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  padding: 1rem !important;
}

.posts-grid-item {
  text-align: center;
  position: relative;
}

.posts-grid-image {
  height: 100%;
  border-radius: 5px;
}

.posts-grid-image:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgb(0 0 0 / 60%);
  opacity: 0;
  border-radius: 5px;
}

.img-fluid {
  width: 100%;
  height: 242px;
}

.posts-grid a {
  color: #fff;
  display: block;
  border: 1px solid transparent;
  border-radius: 5px;
}

.posts-grid-item img {
  border-radius: 5px;
  object-fit: cover;
}

.post-social-reach-icon {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
  font-size: 12px;
}

.posts-grid-item:hover .post-social-reach-icon {
  display: flex;
}

.posts-grid a.active {
  border-color: #fff;
}

.right-body {
  padding: 1rem;
  padding-left: 1.2rem;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));

}

.insta-active-picture-row {
  flex: 0 0 auto;
  width: 25%;
  text-align: center;
}

.image-large {
  flex: 0 0 auto;
  width: 25%;
}

.image-details-text {
  flex: 0 0 auto;
  width: 72%;
  padding: 0 10px;
}

.post-caption {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.date-heading {
  --bs-text-opacity: 1;
  color: #6c7293 !important;
  margin-top: 0.5rem !important;
  font-size: medium;
  font-weight: normal;
}

.post-stats-amount {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.post-stats-amount-item {
  background: #353c4f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-radius: 5px;
  color: #6c7293;
}

.post-stats-amount-item .stats-icon {
  margin-right: 10px;
}

.post-stats-amount-item h4 {
  color: #6de6b5;
  font-size: 1.125rem;
}

.post-stats-amount-item p,
.post-stats-amount-item h4 {
  margin: 0;
}

.buttons-div {
  display: flex;
  color: #6de6b5 !important;
}

.dollar-spent-button {
  background-color: #8f5fe8 !important;
}

.single-page-layout {
  padding: 0.875rem 0.75rem;
}

.navigation-2 {
  justify-content: space-evenly;
}

.connect-instagram {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important;
  color: white;
  font-weight: bold;
  display: flex;
  gap: 4px;
}

.feed-next-back-button {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.feed-next-button {
  background-color: #8f5fe8 !important;
}

.navigation-3 {
  width: 100%;
  justify-content: space-evenly;
}

.media-insight-section-div {

  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 20px;
}

.inverted {
  transform: rotate(330deg)
}

.white-color {
  fill: #fff !important;
  color: #fff !important;
}


.card-image-div svg {
  height: 300px !important;
  width: 300px !important;
}

.rdt_TableRow, .rdt_ExpanderRow {
  border-radius: 2px;
  background: linear-gradient(180deg, #080c14, #2f374a);
  color: #fff !important;
  min-height: 70px !important;
  font-size: 16px !important;
}

.rdt_TableRow svg {
  fill: #fff;
}

.rdt_TableHeadRow,
.rdt_Pagination {
  background-color: #293346 !important;
  color: #6c7293 !important;
  font-size: 14px !important;
}

.list-class-buttons button {
  background: linear-gradient(0deg, #161f30, #232c41);
  border: none;
  font-size: 12px;
}

.expandable-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tag-input-div {
  padding: 20px;
  display: flex;
  justify-content: center;
}

#standard-basic {
  width: 50%;
  color: #fff;
}

.insta-active-row {
  display: flex;
  justify-content: center;
}

#standard-basic-label {
  color: #fff !important;
}
.tag-input .MuiInput-underline {
  border-bottom: 1px solid #fff !important;
}
.tag-input-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tag-input .MuiFormHelperText-root {
  color: #6c7293;
}
@media only screen and (min-width: 767px) {
  .single-page-layout {
    width: 100%;
  }

  .posts-grid {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 27vw;
    /* viewport width */
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 767px) {

  .component-page-layout {
    flex-direction: column;
  }


  .component-page-layout-header {
    padding: 10px 10px 5px 10px;
  }

  .left-div {
    width: 100%;
  }

  .right-div {
    width: 100%;
  }

  .page-layout {
    padding: 0;
  }

  .component-root-layout {
    padding-right: 3px;
    padding-top: 70px;
    padding-left: 37px;
  }

  .insta-active-picture-row,
  .image-details-text {
    width: 100%;
    padding: 0;
  }

  .post-stats-amount {
    grid-template-columns: repeat(2, 2fr);
  }

  .search-layout {
    flex-direction: column;
  }

  .card-page-layout .right-body {
    padding: 0;
  }

  .search-bar {
    margin-bottom: 10px;
  }

  .feed-next-back-button {
    flex-direction: column-reverse;
    align-items: inherit;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .page-layout {
    padding-left: 40px;
  }

  .image-details-text {
    width: 70%;
  }

  .post-stats-amount {
    grid-template-columns: repeat(2, 2fr);
  }

  .component-page-layout-header {
    padding: 10px
  }
}

@media only screen and (max-width: 1024px) {
  .top-countries-cities-div {
    flex-direction: column;
  }

  .top-gender-age-div {
    flex-direction: column;
  }

  .native-select {
    width: auto !important;
  }

  .media-insight-section-div {
    flex-direction: column;
    padding-left: 50px;
  }
}